body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.layout {
    width: 100%;
    max-width: 360px; 
    margin: 0 auto;
    padding: 10px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login {
    margin: 0;
    font-size: 24px;
    color: #000000;
}

form {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
}

.entrar {
    width: 100%;
    padding: 10px;
    top: 85px;
    background-color: #8e481e;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.entrar:hover {
    background-color: #6c3618;
}

.forgot-password {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    ;
}

.forgot-password .esqueciASenha {
    text-decoration: none;
    color: #000000;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    top: 10px;
    background: #8e481e;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    list-style-type: none;
    position: relative; 
    cursor: pointer; 
    text-decoration: none; 
    color: white; 
    
}